/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #000000, #233a44);
  /* background-color: black; */
  /* height: 100px; */
  padding: 20px 120px;
  z-index: 1000;
}


html {
  scroll-behavior: smooth;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #000000, #233a44);
  padding: 20px 120px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


/* Logo Styling */
.logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .hamburger:hover {
  transform: scale(1.1);
} */

/* Navigation Container */
.navlink {
  display: flex;
  gap: 40px;
}

/* Nav Items */
.nav-item {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  border-radius: 50px;
  font-size: 20px;
}

.nav-item:hover {
  color: #00739a;
}

.nav-item.active {
  color: #298e95;
  font-weight: bold;
}




@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navlink {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    padding: 0 20px;
    max-height: 0;
    opacity: 0;
    transition:
      max-height 0.7s ease,
      opacity 0.4s ease;
  }

  .navlink.show {
    padding: 20px;
    max-height: 500px; /* enough height to show all links */
    opacity: 1;
  }

  .nav-item {
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
  }

  .header-container {
    flex-direction: row;
    padding: 15px 20px;
  }
}
